header{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    color: rgb(225, 227, 229);
}
ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.slider{
    background-image: url(roziss.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider h3{
    margin-left: 200px;
    padding-top: 200px;
    color: rgb(22, 34, 202);
}
.slider p{
    margin-left: 200px;
    color: rgb(22, 34, 202);
}
.slider button{
    text-align: center;
    margin-left: 200px;
}
.welcome h2{
    text-align: center;
}
.welcome p{
    text-align: center;
}
.welcome br{
    text-align: center;
}
.part{
    display: flex;
    justify-content: space-around;
    
}
.part1{
     border: 2px solid rgb(18, 40, 234);
     text-align: center;
     background-color: rgb(9, 9, 228);
    color: aliceblue;
}
.part2{
    border: 2px solid rgb(18, 40, 234);
    text-align: center;
    background-color: rgb(9, 9, 228);
    color: aliceblue;
} 
 .part3{
    border: 2px solid rgb(18, 40, 234);
    text-align: center;
    background-color: rgb(9, 9, 228);
    color: aliceblue;
 }   
 .part4{
    border: 2px solid rgb(18, 40, 234);
    text-align: center;
    background-color: rgb(9, 9, 228);
    color: aliceblue;
 }
 .part1:hover{
    background-color: rgb(226, 16, 16);
 }

.part2:hover{
background-color: rgb(226, 16, 16);
 }

.part3:hover{
   background-color: rgb(226, 16, 16);
 }


 .part4:hover{
  background-color: rgb(226, 16, 16);
 }
.input h2{
    text-align: center;
}
.input p{
    text-align: center;
}
.input{
    text-align: center;
}
.sort{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}